{% extends "base_template_no_header_footer.html" %}

{% block content %}
<div class="page">
    <div class="content-wrapper">
    <div class="page-number">Page 2 of 3</div>

    <table style="border: 1px solid #000;">
        <tr>
            <td class="label-cell" style="border: none;">Certificate No</td>
            <td class="colon-cell" style="border: none;">:</td>
            <td class="value-cell" style="border: none;">{{ certificate_no }}</td>
            <td class="label-cell" style="border: none;">Date of Calibration</td>
            <td class="colon-cell" style="border: none;">:</td>
            <td class="value-cell" style="border: none;">{{ calibration_date }}</td>
        </tr>
    </table>

    <div class="section-title">Calibration Result</div>

    <div class="section-title" style="margin-top: 20px;">A. Repeatability</div>
    <table>
        <thead>
            <tr>
                <th>Set Pressure</th>
                <th>Target Value X<sub>a</sub></th>
                <th>Reference Value X<sub>r</sub></th>
                <th>Measurement error a<sub>s</sub> = X<sub>a</sub> - X<sub>r</sub></th>
                <th>Relative Measurement error a<sub>s</sub></th>
                <th colspan="2">Repeatability error b<sub>re</sub></th>
            </tr>
            <tr>
                <th>bar</th>
                <th>Nm</th>
                <th>Nm</th>
                <th>Nm</th>
                <th>in %</th>
                <th>Nm</th>
                <th>in %</th>
            </tr>
        </thead>
        <tbody>
            {% for repeat in repeatability_data %}
            {% set row_count = repeat.readings|length %}
            <tr>
                <td rowspan="{{ row_count }}">{{ repeat.pressure }}</td>
                <td rowspan="{{ row_count }}">{{ repeat.target }}</td>
                <td>{{ repeat.readings[0] }}</td>
                <td>{{ repeat.readings[0] - repeat.target }}</td>
                <td>{{ ((repeat.readings[0] - repeat.target) / repeat.target * 100)|round(2) }}</td>
                <td rowspan="{{ row_count }}">{{ repeat.repeatability }}</td>
                <td rowspan="{{ row_count }}">{{ repeat.repeatability_pct }}</td>
            </tr>
            {% for reading in repeat.readings[1:] %}
            <tr>
                <td>{{ reading }}</td>
                <td>{{ reading - repeat.target }}</td>
                <td>{{ ((reading - repeat.target) / repeat.target * 100)|round(2) }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <div class="section-title" style="margin-top: 20px;">B. Reproducability</div>
    <table>
        <thead>
            <tr>
                <th>Target Value X<sub>a</sub></th>
                <th>Series-1 Mean Value</th>
                <th>Series-2 Mean Value</th>
                <th>Series-3 Mean Value</th>
                <th>Series-4 Mean Value</th>
                <th colspan="2">Reproducability error b<sub>rep</sub></th>
            </tr>
            <tr>
                <th>Nm</th>
                <th>Nm</th>
                <th>Nm</th>
                <th>Nm</th>
                <th>Nm</th>
                <th>in Nm</th>
                <th>in %</th>
            </tr>
        </thead>
        <tbody>
            {% for reprod in reproducability_data %}
            <tr>
                <td>{{ reprod.target }}</td>
                <td>{{ reprod.series1 }}</td>
                <td>{{ reprod.series2 }}</td>
                <td>{{ reprod.series3 }}</td>
                <td>{{ reprod.series4 }}</td>
                <td>{{ reprod.error }}</td>
                <td>{{ reprod.error_pct }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="section-title" style="margin-top: 20px;">C. Geometric effect of the output drive of the torque tool</div>
    <table>
        <thead>
            <tr>
                <th>Target Value X<sub>a</sub></th>
                <th>Position 0° Mean Value</th>
                <th>Position 90° Mean Value</th>
                <th>Position 180° Mean Value</th>
                <th>Position 270° Mean Value</th>
                <th colspan="2">Error due to output drive b<sub>od</sub></th>
            </tr>
            <tr>
                <th>Nm</th>
                <th>Nm</th>
                <th>Nm</th>
                <th>Nm</th>
                <th>Nm</th>
                <th>in Nm</th>
                <th>in %</th>
            </tr>
        </thead>
        <tbody>
            {% for geo in geometric_data %}
            <tr>
                <td>{{ geo.target }}</td>
                <td>{{ geo.pos0 }}</td>
                <td>{{ geo.pos90 }}</td>
                <td>{{ geo.pos180 }}</td>
                <td>{{ geo.pos270 }}</td>
                <td>{{ geo.error }}</td>
                <td>{{ geo.error_pct }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="margin-top: 15px; margin-bottom: 15px; display: flex; justify-content: space-between;">
        <div style="flex: 1;">
            <div style="margin-bottom: 3px;"><strong>Checked By</strong></div>
            <div style="height: 25px; margin-bottom: 3px;"></div>
            <div style="height: 25px; margin-bottom: 3px;"></div>
            <div style="margin-top: 3px;"><strong>Calibration Engineer</strong></div>
        </div>
        <div style="flex: 1; text-align: right;">
            <div style="margin-bottom: 3px;"><strong>Authorised Signatory</strong></div>
            <div style="height: 25px; margin-bottom: 3px;"></div>
            <div style="height: 25px; margin-bottom: 3px;"></div>
            <div style="margin-top: 3px;"><strong>Ramesh Ramakrishna</strong></div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
